html, body {
    margin: 0;
}

body {
    padding: 10px;
    background-color: #181719;
    color: #fff;
}

/*lOGO*/

.company-logo{
    margin-top: 20px;
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    text-transform: uppercase;
}

.company-logo span {
    padding: 8px;

    border: #fff solid 1px;
}

/*NAVIGATION*/
.top-menu {
    display: flex;
    position: relative;
}

.navigation {
    display: none;
    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 2;
}

.nav-list {
    margin: 0;
    padding: 0;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    list-style: none;

    overflow: auto;
    background-color: #181719;
}
.nav-item {
    position: relative;
}
.nav-item a, .read-more {
    color: #fff;
    text-decoration: none;
}
.nav-item a {    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.nav-item + .nav-item {
    margin-top: 30px;
}

.nav-item.nav-item.clicked-nav-item a {    
    font-weight: bold;
}

.nav-item a::after {
    content: '';
    position: absolute;

    bottom: -15px;
    left: 0;

    height: 2px;
    width: 100%;

    opacity: 0;
    transition: 0.2s all ease-out;
}
.nav-item.clicked-nav-item a::after {
    content: '';

    position: absolute;
    height: 2px;
    width: 100%;

    bottom: -5px;
    left: 0;

    opacity: 1;
    
    background-color: #fff;
    transition: 0.2s all ease-out;
}

/*BURGER-MENU*/
.burger-menu {
    display: block;

    position: absolute;
    top: 15px;
    right: 10px;

    height: 21px;
    width: 30px;

    cursor: pointer;
    transition: 0.1s all ease-out;
    z-index: 3;
}
.burger-menu::after, 
.burger-menu::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;

    background-color: #fff;
    transition: 0.1s all ease-out;
}
.burger-menu::before {
    top: 0;
}
.burger-menu::after {
    bottom: 0;
}
.burger-menu > span {
    position: absolute;
    right: 0;
    top: 9px;

    height: 3px;
    width: 100%;

    background-color: #fff;

    opacity: 1;
    transition: 0.1s all ease-out;
}

.burger-menu.opened-menu::before {
    top: 8px;
    transform: rotate(45deg);
}
.burger-menu.opened-menu::after {
    bottom: 10px;
    transform: rotate(-45deg);
}
.burger-menu.opened-menu > span {
    opacity: 0;
    transition: 0.1s all ease-out;
}

/*TEXT*/

.main-title{
    margin-top: 40px;
    font-family: 'Lora', serif;
}

.company-description, .read-more {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.company-description {
    width: 70%;
}

.read-more-container{
    margin: 25px 0 35px 0;
}
.read-more {
    font-weight: bold;
}

/*DESIGN AND DESIGNER*/

.design {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
}
.interior-img {
    position: relative;
    max-width: 100%;

    height: auto;
}

.design-container {
    position: absolute;
    right: 20px;
    bottom: -90px;

    width: 300px;
    height: 138px;    

    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.designer-bio {
    position: relative;
    display: flex;

    margin-top: 14px;
    margin-left: 20px;
}
.designer-img {
    width: 36.59px;
    height: 36.59px;

    background: #C4C4C4;
    border-radius: 37px;
}

.designer-info {
    align-self: center;
    margin-left: 14px;
}
.designer-fullname {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.designer-position {
    margin: 0;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;

    color: #828282;
}

.design-description {
    margin: 0;
    margin-left: 18px;
    margin-top: 10px;
    width: 210px;
    
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: bold;
}


/*COPYRIGHT*/

.copyright {
    position: absolute;
    left: 50%;

    margin-top: 150px;
    padding-bottom: 20px;

    text-align: center;
}

.created-by {
    position: relative;
    left: -50%;
    margin: 0;

    font-size: 14px;
    font-family: 'Montserrat';

    color: #BDBDBD;
}

.created-by .username {
    font-weight: 700;
}


/*DESKTOP VERSION*/

@media all and (min-width: 992px){
    body {
        padding: 42px 77px;
    }

    .burger-menu {
        display: none;
    }

    .navigation {
        height: 900px;
        margin-top: 20px;
        display: block;
    }
    
    .nav-list {
        margin: 0;
        padding: 0;

        position: relative;
    
        display: flex;
        flex-direction: row;

        align-items: flex-start;
        justify-content: flex-end;

        overflow: auto;
    
        list-style: none;
        background-color: inherit;
    }
    .nav-item + .nav-item {
        margin: 0;
        margin-left: 86px;
    }

    .main-content {
        display: flex;
        margin-top: 170px;
    }
    .text-container {
        display: flex;
        flex-direction: column;

        justify-content: center;
    }
}